@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    color: #dedede;
    background-color: #292929;
}
a:link {
    color: #dedede;
    text-decoration: none;
  }
  
  a:visited {
    color: #dedede;
    text-decoration: none;
  }
  
  a:hover {
    color: #dedede;
    text-decoration: none;
  }
  
  a:active {
    color: #dedede;
    text-decoration: none;
  }
.main_title{
    font-size: 5em;
}
.context {
    position: absolute;
    top:0vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
