{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
    <div class="context" >
        <div class="d-flex flex-column min-vh-100 min-vw-100">
            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
              <div class="text-center">
                <div class="py-5 main_title" id="main_title">Rodrigo Lessa</div>
                <p>
                    <span class="px-3">Versel</span>
                    <span class="px-3">PlanetScale</span>
                    <span class="px-3"><a href="https://www.credly.com/badges/2630493c-88c0-495c-b697-c039f8406267/public_url">AWS Architect Solutions</a> </span>
                    <span class="px-3">Windows Server</span>
                    
                </p>
                <p class="pt-5"><a href="https://www.linkedin.com/in/rodlessa/"></a> Linkedin</p>
            </div>
            </div>
          </div>
        </div>
    </body>
</body>
{% block content %}
  {% endblock %}
</html>